
    .nav_bar {
        overflow: auto;
    }
    .nav_bar_hr {
           height: 10px;
           border: 0;
           box-shadow: inset 0 15px 15px -15px rgba(0, 0, 0, 0.5);
    }
    .home {
        float: left;
        padding: 10px;
        font-size: 23;
    }
    .home a {
        color: black;
        text-decoration: none;
    }
    .menu {
        float: right;
        padding: 10px;
        font-size: 23;
    }
    .menu a {
        color: black;
        text-decoration: none;
    }
    .project {
        margin-right: 20px;
    }
    .cv{
        margin-right: 20px;
    }
    .about{
        margin-right: 20px;
    }
    .contact{
        margin-right: 20px;
    }
    
